[Desktop Entry]
Type=Application
Version=1.0
Name=Citadel Imager
Comment=Citadel Imager
Icon=citadel-imager
Exec=citadel-imager
Categories=Utility;
StartupNotify=false
